.tabs {
  .item {
    background: rgba(0, 0, 0, 0.125);
    border: 1px solid;
    border-radius: 4px;
    margin: 0 10px 0;

    &:hover,
    &:focus {
      background: $mb-white;
      color: #000;
    }

    &.active {
      background: $mb-yellow;
      color: $mb-black;
    }
  }
}

.tabs {
  border-bottom: 1px solid #AAA;
  padding-bottom: 10px;

  .item {
    line-height: 30px;
    font-weight: bold;
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
}